
@media(min-width:1001px) {

    .header h1{
        font-size: 100px;
   }   
   .para {
     color: rgb(81, 161, 5);
}
  
}

@media(min-width:500px) and (max-width:1000px) {
    .header h1{
        font-size: 80px;

   }
   .header2{
 background-color: rgb(128, 30, 30);
}
  
}

@media(max-width:499px) {
    .header h1{
        font-size: 30px;;
   }
  
}








